@model int
@{
    ViewData["Title"] = "Confirmation";
}

<div class="text-center">
    <h1 class="text-info pt-4">Congratulation! You are one step closer to amazing food.</h1>
    <p class="text-secondary">Your order has been placed successfully.</p>
    <h4 class="text-success pb-3">Order ID: @Model</h4>
    <img src="~/images/order-confirmed.png" alt="confirmed"  width="40%" height="250" />
</div>

